<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5>{{shop.name}}</h5>
    <h6>{{shop.description}}</h6>
    <h6>Products: </h6>
    <ul>
        {% for product in products %}
        <li>name : {{product.name}}</li>
        <li>description : {{product.description}}</li>
        <li>price : {{product.price}}</li>
        {% endfor %}
    </ul>
</body>
</html>